body {
	height: 100vh;
	/* display: flex;
	align-items: center; */
	/* background: linear-gradient(to top left, #fbd5b3, #fad8c8); */
	background: url(images/noise.png);
	color: #161411;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
	font-size: 50px;
	line-height: 1.3;
	width: 100%;
	padding: 30px;
	text-align: center;
}

.result-selection {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 24px;
}

.showcase {
	display: flex;
	justify-content: center;
	align-items: center;
}

figure {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 80px;
}

figure:hover {
	transform: scale(1.3);
}

button {
	background: #A6E0AC;
	color: #161411;
	font-size: larger;
	padding: 8px 48px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 24px;
	border: 2px solid #A6E0AC;

}

button:hover {
	/* transform: scale(1.3); */
	background: #8abb8f;
	border: 2px solid #8abb8f;
}
